<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Netflix Clone - Iniciar sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body class="home-bg">

    <!-- Encabezado -->
    <header class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Netflix" class="logo-img">
        <a href="{{ url_for('login') }}" class="login-btn">Iniciar sesión</a>
    </header>

    <!-- Contenido principal -->
    <div class="hero">
        <h1>Películas y series<br>ilimitadas y mucho más</h1>
        <p>¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía.</p>

        <form method="post" action="{{ url_for('register') }}" class="email-form">
            <input type="email" name="usuario" placeholder="Email" required>
            <button type="submit">Comenzar &gt;</button>
        </form>
    </div>

    <!-- Barra inferior -->
    <footer class="footer">
    </footer>

</body>
</html>